
body {
  margin-top: 10px;
}

.backgroundwrapper{

	background: url("../images/background-gastronomy.png") no-repeat;
	background-size: 100% auto;
}

.jumbotron {

  background-color: lightgreen;
 font-family: cursive;
 font-size: 18px;
 color: black;
 padding-top: 10px;
}

.btn-success{
{
color: #fff;
background-color: #5cb85c;
border-color: #4cae4c;
margin-left: 5px;
}

.btn-success:hover, .btn-success:focus, .btn-success:active, .btn-success.active, .open>.dropdown-toggle.btn-success {
color: white;
background-color: black;
border-color: #398439;
}

