
body {
  margin-top: 10px;

 
}

.style {

 background-color: none;
 font-family: cursive;
 font-size: 25px;
 color: brown;
 padding-top: 10px;
  
}

.mybanner{

	background: url("../images/background-skyline.png") no-repeat;

/*	background-size: 100% auto;*/
	background-attachment: fixed;

}

.mydivider{ 

	margin-top: 10px;
	padding-top: 15px;
	padding-bottom: 15px;
	padding-right: 15px;
	padding-left: 15px;
	background: url("../images/divider.jpg") no-repeat;
	background-attachment: fixed;
	height: 450px;

}

.mydivider .myreadmore{

padding: 10px;
background-color: transparent;
color: teal;
font-size: 25px;
width: 200px;
margin-left: 50px;
border-radius: 0;
}


.myprojects {
	background-color: lightyellow;
	margin-top: 10px;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 15px;
	padding-bottom: 15px;

}

/*.myprojectscol{ 
	background-color: lightyellow;
	padding-right: 15px;
	padding-left: 15px;
	padding-top: 15px;
	padding-bottom: 15px;

}*/

