/*Make the h1 tag colorful*/
body {
  width: 960px;
  margin: 0 auto;
  font-family: helvetica neue, arial, sans-serif;
  color: black;
}

#cutlery {
font-size: medium;
}

h1 {
background-color: green;
color: white;
font-family: "Great Vibes", cursive; 
font-size: x-large;
text-align: center;
}

#top-quote {
font-family: "Great Vibes", cursive; 
font-size: medium;
text-align: center;
/*border-bottom: 1px solid green;*/
}

#author {
  float: right;
  color: white;
}

#cog {
border: 1px green;
}

#poster img {
  float: center;
}

h2 {
font-size: medium;
 line-height: 15px;
}
/*
#featured {
	clear: both;
	border: 1px solid green;
	background-color: lightgreen;
	padding: 20px;
	color: black;
	margin-top: 2px;
}*/

#recipe
	{
	float: left;
	margin-right: 2px;
	margin-top: 2px;
	margin-bottom: 15px;
	margin-left: 2px; 
	border: 1px solid green;
	padding: 3px;
	}

#recipe img{

    width:230px;  you can use % 
    height:230px ;
}

table tr td {
	background-color: lightgreen;
    padding: 5px;

}

